<html xmlns="http:/www.thymeleaf.org">

<body>
	<h1>网站刷题情况截图</h1>
	<fieldset>
		<fieldset>
			<legend>截图1</legend>

			<img th:src="'data:image/png;base64,'+${photo1}" />
		</fieldset>
		<fieldset>
			<legend>截图2</legend>

			<img th:src="'data:image/png;base64,'+${photo2}" />
		</fieldset>
		<fieldset>
			<legend>截图3</legend>

			<img th:src="'data:image/png;base64,'+${photo3}" />
		</fieldset>
		<fieldset>
			<legend>截图4</legend>

			<img th:src="'data:image/png;base64,'+${photo4}" />
		</fieldset>
		<fieldset>
			<legend>截图5</legend>

			<img th:src="'data:image/png;base64,'+${photo5}" />
		</fieldset>

	</fieldset>
	<a th:href="@{/doExerciseInfo/{studentId}(studentId=${studentId})}">返回</a>
</body>

</html>
