<html xmlns="http://www.thymeleaf.org">
<style>
	.passWordError {
		color: red;
	}

	.passWordChanegeSuccess {
		color: green;
	}

</style>


<body>
	<h1>教师个人信息页</h1>
	<fieldset>
		<fieldset>
			<legend>search</legend>
			<table>
				<tr>
					<th>教师工号</th>
					<th>姓名</th>
					<th>修改姓名</th>
					<th>教师所属学院</th>
					<th>教师所在系</th>
					<th>教师申请管理权限留言</th>
					<th>修改留言</th>
					<th>管理员留言</th>
				</tr>
				<tr>
					<td th:text="${personalInfo.teacherId}">
					<td th:text="${personalInfo.teacherName}">
					<td>
						<form th:action="@{/personalInfo/updateName(teacherId=${teacherId})}" th:object="${teacherInfo}"
							method="post">
							<input type="text" th:field="*{teacherName}" placeholder="修改姓名" required>
							<input type="submit" value="修改">
						</form>
					</td>
					<td th:text="${personalInfo.college}">
					<td th:text="${personalInfo.faculty}">
					<td th:text="${personalInfo.wantToManageClass}">
					<td>
						<form th:action="@{/personalInfo/updateMessage(teacherId=${teacherId})}" th:object="${teacherInfo}"
							method="post">
							<textarea th:field="*{wantToManageClass}" placeholder="教师申请班级管理权限留言" required></textarea>
							<input type="submit" value="修改">
						</form>
					</td>
					<td th:text="${personalInfo.adminMessage}">
				</tr>
			</table>
		</fieldset>
		<div class="passWordError">
			<span th:if="${originalError}" th:text="${originalError}"></span>
			<span th:if="${confirmError}" th:text="${confirmError}"></span>
		</div>
		<div class="passWordChanegeSuccess">
			<span th:if="${passWordChangeSuccess}" th:text="${passWordChangeSuccess}"></span>
		</div>
		<fieldset>
			<legend>updatePassWord</legend>
			<form th:action="@{/personalInfo/updatePassWord(teacherId=${teacherId})}" th:object="${passWord}" method="post">
				<input type="password" placeholder="原密码" th:field="*{originalPassWord}" required>
				<p />
				<input type="password" placeholder="新密码" th:field="*{newPassWord}" required>
				<p />
				<input type="password" placeholder="确认新密码" th:field="*{confirmNew}" required>
				<p />
				<input type="submit" value="提交">

			</form>
		</fieldset>
	</fieldset>
	<a th:href="@{/index/{teacherId}(teacherId=${teacherId})}">返回主页</a>

</body>

</html>
