<html xmlns="http://www.thymeleaf.org">

<body>
	<table>
		<thead>
			<tr>
				<th>学号</th>
				<th>刷题网站</th>
				<th>刷题网站账号</th>
				<th>解题数量</th>
				<th>开始刷题日期</th>
				<th>结束日期</th>
				<th>刷题情况截图1</th>
				<th>刷题情况截图2</th>
				<th>刷题情况截图3</th>
			</tr>
		<tbody>
			<tr th:if="${orderByNumber.empty}">
				<td colspan="9">查询为空</td>
			</tr>
			<tr th:each="info:${orderByNumber}">
				<td><span th:text="${info.studentId}">null</span></td>
				<td><span th:text="${info.doExerciseWebSiteUrl}">null</span></td>
				<td><span th:text="${info.doExerciseWebSiteAccount}">null</span></td>
				<td><span th:text="${info.solveExerciseNumber}">null</span></td>
				<td><span th:text="${info.doExerciseStartTime}">null</span></td>
				<td><span th:text="${info.doExerciseEndTime}">null</span></td>
				<td><span th:text="${info.doExercisePhoto1}">null</span></td>
				<td><span th:text="${info.doExercisePhoto2}">null</span></td>
				<td><span th:text="${info.doExercisePhoto3}">null</span></td>
			</tr>
		</tbody>
		</thead>
	</table>
</body>

</html>
