<html xmlns="http://www.thymeleaf.org">


<body>
	<h1>学生管理页</h1>
	<fieldset>
		<legend>
			添加学生
		</legend>
		<form th:action="@{/studentInfo/insert/{teacherId}(teacherId=${teacherId})}" th:object="${studentInfo}"
			method="post">
			<label>按班级添加:</label>
			<select th:field="*{className}">
				<option th:each="class:${canManageClassList}" th:value="${class.className}" th:text="${class.className}">
			</select>
			<p />
			<label>学号:</label>
			<input type="text" maxlength="12" minlength="12" placeholder="12位数字" th:field="*{studentId}" required>
			<p />
			<input type="submit" value="提交">
		</form>
	</fieldset>

	<fieldset>
		<legend>
			查询学生信息
		</legend>
		<form th:action="@{/studentInfo/searchByClassName/{teacherId}(teacherId=${teacherId})}" th:object="${studentInfo}"
			method="post">
			<label>按班级查询:</label>
			<select th:field="*{className}">
				<option th:each="class:${canManageClassList}" th:value="${class.className}" th:text="${class.className}">
			</select>
			<input type="submit">
		</form>
		<form th:action="@{/studentInfo/searchByStudentId/{teacherId}(teacherId=${teacherId})}" th:object="${studentInfo}"
			method="post">
			<label>按学号查询:</label>
			<input type="text" maxlength="12" minlength="12" placeholder="12位数字" th:field="*{studentId}" required>
			<input type="submit">
		</form>
		<form th:action="@{/studentInfo/index/{teacherId}(teacherId=${teacherId})}" method="get">
			<label>查询所有学生:</label>
			<select>
				<option value="*">
					您所能管理班级里的所有学生
				</option>
			</select>

			<input type="submit">
		</form>
	</fieldset>
	<fieldset>
		<legend>
			查询结果
		</legend>
		<table>
			<tr>
				<th>学号</th>
				<th>姓名</th>
				<th>班级</th>
				<th>删除</th>
			</tr>
			<tr th:each="student:${studentList}">
				<td th:text="${student.studentId}">
				<td>
					<span th:if="${student.studentName  == null }">null</span>
					<span th:unless="${student.studentName == null }" th:text="${student.studentName}">
				</td>
				<td th:text="${student.className}">
				<td>
					<a th:href="@{/studentInfo/delete(studentId=${student.studentId},teacherId=${teacherId})}">删除</a>
				</td>
			</tr>
		</table>
	</fieldset>
	<a th:href="@{/index/{teacherId}(teacherId=${teacherId})}">
		返回主页
	</a>
</body>

</html>
