<html xmlns="http://www.thymeleaf.org">
<style>
	.error {
		color: red;
	}

</style>


<body>
	<h1>学生管理页</h1>
	<fieldset>
		<legend>
			查询结果
		</legend>
		<table>
			<tr>
				<th>学号</th>
				<th>姓名</th>
				<th>班级</th>
				<th>系</th>
				<th>学院</th>
				<th>删除</th>
			</tr>
			<tr th:each="s:${showStudentInfo}">
				<td th:text="${s.studentId}">
				<td th:text="${s.studentName}">
				<td th:text="${s.clazz}">
				<td th:text="${s.faculty}">
				<td th:text="${s.college}">
				<td>
					<a th:href="@{/studentInfo/delete(teacherId=${teacherId},studentId=${s.studentId})}">删除</a>
				</td>

			</tr>
		</table>
	</fieldset>

	<div class="error">
		<span th:if="${noPower}" th:text="${noPower}"></span>
		<span th:if="${studentExist}" th:text="${studentExist}"></span>
	</div>
	<fieldset>
		<legend>添加学生</legend>
		<form th:action="@{/studentInfo/fixTheFaculty(teacherId=${teacherId})}" th:object="${college}" method="post">
			<label>选择学院</label>
			<select th:field="*{id}">
				<option th:each="c:${collegeList}" th:value="${c.id}" th:text="${c.college}">
				</option>
			</select>
			<input type="submit" value="确定">
		</form>
		<form th:action="@{/studentInfo/fixTheClazz(teacherId=${teacherId})}" th:object="${faculty}" method="post">
			<label>选择专业</label>
			<select th:field="*{id}">
				<option th:each="f:${facultyList}" th:value="${f.id}" th:text="${f.faculty}">
			</select>
			<input type="submit" value="确定">
		</form>
		<form th:action="@{/studentInfo/sureTheClazzId(teacherId=${teacherId})}" th:object="${clazz}" method="post">
			<label>选择班级</label>
			<select th:field="*{id}">
				<option th:each="c:${clazzList}" th:value="${c.id}" th:text="${c.clazz}">
			</select>
			<input type="submit" value="确定">
		</form>
		<form th:action="@{/studentInfo/insertStudent(teacherId=${teacherId},clazzId=${clazzId})}"
			th:object="${studentInfo}" method="post">
			<label>学号：</label>
			<input type="text" maxlength="12" minlength="12" th:field="*{studentId}" placeholder="请输入12位数字" required>
			<p />
			<label>姓名：</label>
			<input type="text" th:field="*{studentName}" placeholder="姓名" required>
			<p />
			<input type="submit" value="写入">
		</form>

	</fieldset>
	<a th:href="@{/index/{teacherId}(teacherId=${teacherId})}">返回主页</a>
</body>

</html>
